.container-footer {
    display: flex;
    flex-direction: column;
    margin: 0 8%;

    &__main {
        display: flex;
        justify-content: space-between;
    }
}
.w33 {
    width: 33%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        font-size: 1.5em;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 0;

        p {
            margin: 10px 0;
        }

        &__adress {
            font-size: 0.75em;
        }
    }

    &__content-logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto 50px;
        padding: 20px 0;

        &__logo {
            display: inline-block;
            width: 20%;

            &:hover {
                svg {
                    fill: $red-secondary;
                }
            }
        }
    }

    &__other {
        text-align: center;
        justify-self: flex-end;
        margin-top: auto;

        &--clic {
            cursor: pointer;
            margin-bottom: 20px;

            &:hover {
                color: $red-secondary;
            }
        }

        &--tel {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 2px;
        }

        &--rs {
            justify-content: flex-end;
            margin-top: auto;
            margin-bottom: 20px;
            cursor: pointer;
            color: $black-primary;

            &:hover {
                color: $red-secondary;
            }
            
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &__group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;

            &__input {
                padding: 10px 20px;
                width: 70%;
                font-size: 0.75em;
                border-radius: 10px;
                border: 1px solid $black-primary;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    font-style: italic;
                }
                &::-webkit-input-placeholder {
                    font-style: italic;
                }
                &:-moz-placeholder {
                    font-style: italic;  
                }
                &::-moz-placeholder {
                    font-style: italic;  
                }
                &:-ms-input-placeholder {  
                    font-style: italic; 
                }
            }

            button {
                font-size: 1em;
                background-color: white;
                border: 1px solid $black-primary;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: $red-secondary;
                    color: $white-secondary;
                    border: 1px solid $red-secondary;
                }
            }
        }
    }
}
.copyright {
    border-top: 1px solid $red-primary;
    height: 2em;

    &__content {
        text-align: center;
        font-size: 0.75em;
        margin: 1% 0;
        margin-bottom: 1%;

        a {
            color: $red-primary;

            &:hover {
                text-decoration: underline;
                color: $red-secondary;
            }
        }
    }
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
         transform: scale(1.1);
    }
    100% {
         transform: scale(1);
    }
}

