.container-footer {
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        justify-content: space-between;
    }
    
    &__copyright {
        border-top: 1px solid $red-primary;

        &__content {
            text-align: center;
            font-size: 0.75em;
            margin: 1% 0;

            a {
                color: $red-primary;

                &:hover {
                    text-decoration: underline;
                    color: $red-secondary;
                }
            }
        }
    }
}
.w33 {
    width: 33%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        font-size: 1.5em;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 0;

        p {
            margin: 10px 0;
        }

        &__adress {
            font-size: 0.75em;
        }
    }

    &__content-logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto 50px;
        padding: 20px 0;

        &__logo {
            display: inline-block;
            width: 20%;

            &:hover {
                svg {
                    fill: $red-secondary;
                }
            }
        }
    }

    &__other {
        text-align: center;
        justify-self: flex-end;
        margin-top: auto;

        &--clic {
            cursor: pointer;
            margin-bottom: 20px;

            &:hover {
                color: $red-secondary;
            }
        }

        &--tel {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 2px;
        }

        &--rs {
            justify-content: flex-end;
            margin-top: auto;
            margin-bottom: 20px;
            cursor: pointer;
            color: $black-primary;

            &:hover {
                color: $red-secondary;
            }
            
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &__group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;

            &__input {
                padding: 10px 20px;
                width: 70%;
                font-size: 0.75em;
                border-radius: 10px;
                border: 1px solid $black-primary;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    font-style: italic;
                }
                &::-webkit-input-placeholder {
                    font-style: italic;
                }
                &:-moz-placeholder {
                    font-style: italic;  
                }
                &::-moz-placeholder {
                    font-style: italic;  
                }
                &:-ms-input-placeholder {  
                    font-style: italic; 
                }
            }

            button {
                font-size: 1em;
                background-color: white;
                border: 1px solid $black-primary;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: $red-secondary;
                    color: $white-secondary;
                    border: 1px solid $red-secondary;
                }
            }
        }
    }
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: #83141a0a;

    /* Modal Content/Box */
    &__content {
        background-color: $white-secondary;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 80%; /* Could be more or less, depending on screen size */
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 2px solid $red-primary;
        height: 80vh;
        overflow-y: auto;

        &__title {
            font-family: $font-navbar;
            text-align: center;
            margin: 0;
        }

        &__section {
            margin: 15px 0;

            h3 {
                margin: 10px 0;
                font-size: 1em;
            }
            p {
                font-size: 0.75em;
            }

            &__link {
                cursor: pointer;
                color: $red-primary;

                &:hover {
                    color: $red-secondary;
                    text-decoration: underline;
                }
            }

            &__tel {
                cursor: pointer;
                color: $red-primary;

                &:hover {
                    color: $red-secondary;
                    text-decoration: underline;
                }
            }
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            margin-right: 20px;

            button {
                font-size: 1em;
                padding: 10px 20px;
                border: 1px solid $black-primary;
                background-color: $white-primary;
                border-radius: 10px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: $red-secondary;
                    color: $white-secondary;
                }
            }
        }
    }

    /* The Close Button */
    &__close {
        color: $black-primary;
        align-self: flex-end;
        margin-left: auto;
        font-size: 1.5em;
        font-weight: bold;

        &:hover, &:focus {
            color: $red-secondary;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
         transform: scale(1.1);
    }
    100% {
         transform: scale(1);
    }
}

// ScrollBar de la modal
/* width */
.modal__content::-webkit-scrollbar {
    width: 10px;
    border-radius: 0 5px 5px 0;
}
  
/* Track */
.modal__content::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 0 5px 5px 0;
}

/* Handle */
.modal__content::-webkit-scrollbar-thumb {
    background: $red-secondary; 
    border-radius: 0 5px 5px 0;
}

/* Handle on hover */
.modal__content::-webkit-scrollbar-thumb:hover {
    background: $red-primary; 
    border-radius: 0 5px 5px 0;
}