.cards {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 2% 8%;

    &__card {
        width: 14em;
        border: 1px solid $red-secondary;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        height: 13em;
        display: flex;
        flex-direction: column;

        &__images {
            animation: mymove 20s infinite ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            display: flex;
            


            &__image {
                // border: 1px solid green;
                display: inline-block;
    
                &__img {
                    object-fit: cover;
                    width: 14em;
                    height: 11em;
                    // border-radius: 10px 10px 0 0;
                }
            }
        }

        &__border {
            background-color: $red-primary;

            &__infos {
                border: 1px solid white;
                color: $white-primary;
                height: 9.5em;
                margin: 0.75em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.5em;
            }
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $red-primary;

            img {
                object-fit: cover;
                width: 10em;
                height: 11em;
                padding: 5px;
            }
        }

        &__title {
            text-align: center;
            margin-top: auto;
            margin-bottom: 10px;
        }

        &--hover {
            &:hover {
                box-shadow: 0px 1px 5px $red-primary;
                cursor: pointer;
                background-color: $white-secondary;
            }
        }

        &:hover &__title--hover {
            color: $red-primary;
        }
    }
}

.salles {
    margin: 5% 8%;
    height: 15em;
    position: relative;
    display: block;

    &__image {
        position: relative;
        height: 15em;
        overflow: hidden;
        border-radius: 10px;
        width: 98%;
        box-shadow: 30px 30px 2px 1px $red-primary;

        &__img {
            position: absolute;
            object-fit: cover;
            height: 15em;
            width: 100%;
            filter: contrast(50%);
            -webkit-filter: contrast(50%);
        }
    }

    &__title {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        font-weight: bold;
        color: $red-primary;
        text-shadow: $white-primary 1px 0 5px;
    }
}

.big-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 8%;

    &__card {
        width: 22em;
        height: 15em;

        &--border {
            border: 1px solid $red-primary;
            border-radius: 10px;
        }

        &--auberges {
            border: 1px solid black;
            display: flex;
            flex-direction: column;

            &__title {
                text-align: center;
            }

            &__content {
                width: 11em;
                height: 13em;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                margin-top: auto;

                &__container {
                    position: relative;
                    background-color: $red-secondary;
                    width: 6em;
                    height: 6em;
                    padding: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.15);
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    transition: width 0.4s, height 0.4s,
                        border-radius 0.4s;

                    &:hover {
                        width: 11em;
                        height: 13em;
                        border-radius: 4px;
                    }

                    &__image {
                        width: 5.5em;
                        height: 5.5em;
                        min-height: 5.5em;
                        border-radius: 50%;
                        overflow: hidden;
                        box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
                        margin-top: 20px;

                        img {
                            width: 100%;
                            max-width: 100%;
                        }
                    }

                    &__title {
                        font-size: 0.75em;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-top: 40px;
                        margin-bottom: 16px;
                        color: $white-primary;
                    }

                    &__role, &__description {
                        font-size: 0.5em;
                        letter-spacing: 0.5px;
                        line-height: 20px;
                        text-align: center;
                        color: $white-primary;
                    }

                    &__role {
                        text-transform: uppercase;
                        padding-bottom: 8px;
                        margin-bottom: 24px;
                        border-bottom: 2px solid #ffbe44;
                    }

                    &__social-container {
                        position: absolute;
                        top: 30px;
                        left: -40px;
                        display: flex;
                        flex-direction: column;

                        button {
                            border: none;
                            outline: none;
                            color: #eee;
                            background: none;
                            width: 20px;
                            height: 40px;
                            font-size: 1em;
                            margin-bottom: 16px;
                            cursor: pointer;
                            transition: transform 0.4s;
                        }
                    }

                    &:hover &__social-container button {
                        transform: translateX(60px);
                        transition-delay: 0.3s;
                    }

                    &:hover &__social-container button:nth-child(2) {
                        transition-delay: 0.5s;
                    }

                    &:hover &__social-container button:nth-child(3) {
                        transition-delay: 0.7s;
                    }
                }
            }
        }
    }
}

// Animation pour slider spécialités
@keyframes mymove {
    0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -14em; /*2ème image*/
	}
	50% {
		left: -14em; /*idem pour attente*/
	}
	70% {
		left: -28em; /*3ème image*/
	}
	85% {
		left: -28em; /*idem pour attente*/
	}
}

// Animation pour slider Auberges
@keyframes slide-auberge {
    0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -25em; /*2ème image*/
	}
	50% {
		left: -25em; /*idem pour attente*/
	}
}