.cards {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 2% 8%;

    &__card {
        width: 14em;
        border: 1px solid $red-secondary;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        height: 13em;
        display: flex;
        flex-direction: column;

        &__images {
            animation: mymove 20s infinite ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            display: flex;
            


            &__image {
                // border: 1px solid green;
                display: inline-block;
    
                &__img {
                    object-fit: cover;
                    width: 14em;
                    height: 11em;
                    // border-radius: 10px 10px 0 0;
                }
            }
        }

        &__border {
            background-color: $red-primary;

            &__infos {
                border: 1px solid white;
                color: $white-primary;
                height: 9.5em;
                margin: 0.75em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.5em;
            }
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $red-primary;

            img {
                object-fit: cover;
                width: 10em;
                height: 11em;
                padding: 5px;
            }
        }

        &__title {
            text-align: center;
            margin-top: auto;
            margin-bottom: 10px;
        }

        &--hover {
            &:hover {
                box-shadow: 0px 1px 5px $red-primary;
                cursor: pointer;
                background-color: $white-secondary;
            }
        }

        &:hover &__title--hover {
            color: $red-primary;
        }
    }
}

.salles {
    margin: 5% 8%;
    height: 15em;
    position: relative;
    display: block;

    &__image {
        position: relative;
        height: 15em;
        overflow: hidden;
        border-radius: 10px;
        width: 98%;
        box-shadow: 30px 30px 2px 1px $red-primary;

        &__img {
            position: absolute;
            object-fit: cover;
            height: 15em;
            width: 100%;
            filter: contrast(50%);
            -webkit-filter: contrast(50%);
        }
    }

    &__title {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        font-weight: bold;
        color: $red-primary;
        text-shadow: $white-primary 1px 0 5px;
    }
}

.big-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 8%;

    &__card {
        width: 22em;
        height: 15em;
        border: 1px solid $red-primary;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        &__images {
            margin: 0;
            padding: 0;
            display: flex;
            animation: slide-auberge 15s infinite ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;

            &__image {

                &__img {
                    object-fit: cover;
                    width: 25em;
                    height: 15em;
                    transform: scale(1.2);
                }
            }
            

            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &--hover {

            &:hover {
                box-shadow: 0px 1px 5px $red-primary;
            }
        }
    }
}

// Animation pour slider spécialités
@keyframes mymove {
    0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -14em; /*2ème image*/
	}
	50% {
		left: -14em; /*idem pour attente*/
	}
	70% {
		left: -28em; /*3ème image*/
	}
	85% {
		left: -28em; /*idem pour attente*/
	}
}

// Animation pour slider Auberges
@keyframes slide-auberge {
    0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -25em; /*2ème image*/
	}
	50% {
		left: -25em; /*idem pour attente*/
	}
}