@import url(https://fonts.googleapis.com/css2?family=Yatra+One&display=swap);
@charset "UTF-8";
/*** RESET ***/
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(100vw / 60);
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/*** Imports ***/
.container {
  position: relative;
}

.section {
  padding-top: 120px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 8px 0px #83141a;
  z-index: 2;
  top: 0;
}
.navbar__logo {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
}
.navbar__logo__img {
  width: 100%;
}
.navbar__links-group {
  width: 80%;
  margin-left: 3%;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  font-size: 1em;
}
.navbar__links__link {
  color: #83141a;
  font-family: "Yatra One", cursive;
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 0 5px;
}
.navbar__links__link:hover {
  color: #98000c;
  text-decoration: underline;
}

.dropdown {
  position: relative;
}
.dropdown__content {
  flex-direction: column;
  position: absolute;
  font-size: 0.85em;
  width: 110%;
  padding-top: 0.5em;
  display: none;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.dropdown:hover .dropdown__content {
  display: flex;
}

.container-footer {
  display: flex;
  flex-direction: column;
  margin: 0 8%;
}
.container-footer__main {
  display: flex;
  justify-content: space-between;
}

.w33 {
  width: 33%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.w33__title {
  text-align: center;
  font-size: 1.5em;
}
.w33__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
}
.w33__content p {
  margin: 10px 0;
}
.w33__content__adress {
  font-size: 0.75em;
}
.w33__content-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 50px;
  padding: 20px 0;
}
.w33__content-logos__logo {
  display: inline-block;
  width: 20%;
}
.w33__content-logos__logo:hover svg {
  fill: #98000c;
}
.w33__other {
  text-align: center;
  justify-self: flex-end;
  margin-top: auto;
}
.w33__other--clic {
  cursor: pointer;
  margin-bottom: 20px;
}
.w33__other--clic:hover {
  color: #98000c;
}
.w33__other--tel {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2px;
}
.w33__other--rs {
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 20px;
  cursor: pointer;
  color: #1a1a1a;
}
.w33__other--rs:hover {
  color: #98000c;
}
.w33__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.w33__form__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.w33__form__group__input {
  padding: 10px 20px;
  width: 70%;
  font-size: 0.75em;
  border-radius: 10px;
  border: 1px solid #1a1a1a;
}
.w33__form__group__input:focus {
  outline: none;
}
.w33__form__group__input::-moz-placeholder {
  font-style: italic;
}
.w33__form__group__input:-ms-input-placeholder {
  font-style: italic;
}
.w33__form__group__input::placeholder {
  font-style: italic;
}
.w33__form__group__input::-webkit-input-placeholder {
  font-style: italic;
}
.w33__form__group__input:-moz-placeholder {
  font-style: italic;
}
.w33__form__group__input::-moz-placeholder {
  font-style: italic;
}
.w33__form__group__input:-ms-input-placeholder {
  font-style: italic;
}
.w33__form__group button {
  font-size: 1em;
  background-color: white;
  border: 1px solid #1a1a1a;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.w33__form__group button:hover {
  background-color: #98000c;
  color: #ffffff;
  border: 1px solid #98000c;
}

.copyright {
  border-top: 1px solid #83141a;
  height: 2em;
}
.copyright__content {
  text-align: center;
  font-size: 0.75em;
  margin: 1% 0;
  margin-bottom: 1%;
}
.copyright__content a {
  color: #83141a;
}
.copyright__content a:hover {
  text-decoration: underline;
  color: #98000c;
}

.bounce-enter-active {
  -webkit-animation: bounce-in 0.5s;
          animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@-webkit-keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: #83141a0a;
  /* Modal Content/Box */
  /* The Close Button */
}
.modal__content {
  background-color: #ffffff;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #83141a;
  height: 80vh;
  overflow-y: auto;
}
.modal__content__title {
  font-family: "Yatra One", cursive;
  text-align: center;
  margin: 0;
}
.modal__content__section {
  margin: 15px 0;
}
.modal__content__section h3 {
  margin: 10px 0;
  font-size: 1em;
}
.modal__content__section p {
  font-size: 0.75em;
}
.modal__content__section__link {
  cursor: pointer;
  color: #83141a;
}
.modal__content__section__link:hover {
  color: #98000c;
  text-decoration: underline;
}
.modal__content__section__tel {
  cursor: pointer;
  color: #83141a;
}
.modal__content__section__tel:hover {
  color: #98000c;
  text-decoration: underline;
}
.modal__content__buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
.modal__content__buttons button {
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #1a1a1a;
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}
.modal__content__buttons button:focus {
  outline: none;
}
.modal__content__buttons button:hover {
  background-color: #98000c;
  color: #ffffff;
}
.modal__close {
  color: #1a1a1a;
  align-self: flex-end;
  margin-left: auto;
  font-size: 1.5em;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  color: #98000c;
  text-decoration: none;
  cursor: pointer;
}

/* width */
.modal__content::-webkit-scrollbar {
  width: 10px;
  border-radius: 0 5px 5px 0;
}

/* Track */
.modal__content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 5px 5px 0;
}

/* Handle */
.modal__content::-webkit-scrollbar-thumb {
  background: #98000c;
  border-radius: 0 5px 5px 0;
}

/* Handle on hover */
.modal__content::-webkit-scrollbar-thumb:hover {
  background: #83141a;
  border-radius: 0 5px 5px 0;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  border: 1px solid #83141a;
  border-radius: 10px;
  margin: 2% 8%;
  background-color: #98000c;
  color: #f2f2f2;
}
.payment-methods__title {
  text-align: center;
  margin: 0.25em 0 0 0;
}
.payment-methods__body {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em;
  padding: 0.5em;
}
.payment-methods__body__content {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 0.5em;
}
.payment-methods__body__content--border-right {
  border-right: 1px solid #f2f2f2;
}
.payment-methods__body__content__image {
  width: 50%;
}
.payment-methods__body__content__image img {
  width: 70%;
  height: auto;
}
.payment-methods__body__content__description {
  font-size: 0.5em;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 2% 8%;
}
.cards__card {
  width: 14em;
  border: 1px solid #98000c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 13em;
  display: flex;
  flex-direction: column;
}
.cards__card__images {
  -webkit-animation: mymove 20s infinite ease-in-out;
          animation: mymove 20s infinite ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
}
.cards__card__images__image {
  display: inline-block;
}
.cards__card__images__image__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 14em;
  height: 11em;
}
.cards__card__border {
  background-color: #83141a;
}
.cards__card__border__infos {
  border: 1px solid white;
  color: #f2f2f2;
  height: 9.5em;
  margin: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}
.cards__card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #83141a;
}
.cards__card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 10em;
  height: 11em;
  padding: 5px;
}
.cards__card__title {
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}
.cards__card--hover:hover {
  box-shadow: 0px 1px 5px #83141a;
  cursor: pointer;
  background-color: #ffffff;
}
.cards__card:hover .cards__card__title--hover {
  color: #83141a;
}

.salles {
  margin: 5% 8%;
  height: 15em;
  position: relative;
  display: block;
}
.salles__image {
  position: relative;
  height: 15em;
  overflow: hidden;
  border-radius: 10px;
  width: 98%;
  box-shadow: 30px 30px 2px 1px #83141a;
}
.salles__image__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 15em;
  width: 100%;
  filter: contrast(50%);
  -webkit-filter: contrast(50%);
}
.salles__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  color: #83141a;
  text-shadow: #f2f2f2 1px 0 5px;
}

.big-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 8% 2% 8%;
}
.big-cards__card {
  width: 22em;
  height: 15em;
}
.big-cards__card--auberges {
  display: flex;
  flex-direction: column;
}
.big-cards__card--auberges__title {
  text-align: center;
  font-weight: bold;
  color: #83141a;
}
.big-cards__card--auberges__content {
  width: 22em;
  height: 13em;
  display: flex;
  align-items: center;
  margin-top: auto;
  border-radius: 10px;
  overflow: hidden;
}
.big-cards__card--auberges__content__container {
  position: relative;
  background-color: #98000c;
  width: 6em;
  height: 6em;
  padding: 0.25em;
  border-radius: 50%;
  cursor: context-menu;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: width 0.4s, height 0.4s, border-radius 0.4s;
  margin: 0 1.5em;
  -webkit-animation: pulsation 1s infinite;
          animation: pulsation 1s infinite;
}
.big-cards__card--auberges__content__container:hover {
  -webkit-animation: none;
          animation: none;
}
.big-cards__card--auberges__content__container--right {
  margin-left: auto;
}
.big-cards__card--auberges__content__container:hover {
  width: 11em;
  height: 13em;
  border-radius: 4px;
}
.big-cards__card--auberges__content__container__image {
  width: 5em;
  height: 5em;
  min-height: 5em;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
  margin-top: 0.25em;
}
.big-cards__card--auberges__content__container__image img {
  width: 100%;
  max-width: 100%;
}
.big-cards__card--auberges__content__container__title {
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #f2f2f2;
}
.big-cards__card--auberges__content__container__role, .big-cards__card--auberges__content__container__description {
  font-size: 0.5em;
  text-align: center;
  color: #f2f2f2;
}
.big-cards__card--auberges__content__container__role {
  text-transform: uppercase;
  padding-bottom: 0.5em;
  margin-bottom: 0.75em;
  border-bottom: 2px solid #ffbe44;
}
.big-cards__card--auberges__content__container__description {
  margin-top: 1em;
}
.big-cards__card--auberges__content__container__social-container {
  position: absolute;
  top: 1em;
  left: -2em;
  display: flex;
  flex-direction: column;
}
.big-cards__card--auberges__content__container__social-container a {
  border: none;
  outline: none;
  color: #f2f2f2;
  background: none;
  width: 0.5em;
  height: 1em;
  font-size: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: transform 0.4s;
}
.big-cards__card--auberges__content__container__social-container a:hover {
  color: #1a1a1a;
}
.big-cards__card--auberges__content__container:hover .big-cards__card--auberges__content__container__social-container a {
  transform: translateX(2.75em);
  transition-delay: 0.3s;
}
.big-cards__card--auberges__content__container:hover .big-cards__card--auberges__content__container__social-container a:nth-child(2) {
  transition-delay: 0.5s;
}
.big-cards__card--auberges__content__container:hover .big-cards__card--auberges__content__container__social-container a:nth-child(3) {
  transition-delay: 0.7s;
}
.big-cards__card--border {
  display: flex;
  flex-direction: column;
}
.big-cards__card--border__title {
  text-align: center;
  font-weight: bold;
  color: #83141a;
}
.big-cards__card--border__content {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-cards__card--border__content img {
  width: 3em;
  margin-bottom: 1em;
}
.big-cards__card--border__content__info {
  margin-bottom: 2em;
}
.big-cards__card--border__content__click-tel {
  color: #83141a;
  cursor: pointer;
}
.big-cards__card--border__content__tel {
  font-weight: bold;
  color: #83141a;
}

@-webkit-keyframes mymove {
  0% {
    left: 0px;
    /*1ère image*/
  }
  5% {
    left: 0px;
    /*1ère image*/
  }
  15% {
    left: -14em;
    /*2ème image*/
  }
  30% {
    left: -14em;
    /*idem pour attente*/
  }
  45% {
    left: -28em;
    /*3ème image*/
  }
  60% {
    left: -28em;
    /*idem pour attente*/
  }
  75% {
    left: -14em;
    /*2ème image*/
  }
  90% {
    left: -14em;
    /*idem pour attente*/
  }
  100% {
    left: 0px;
    /*1ère image*/
  }
}

@keyframes mymove {
  0% {
    left: 0px;
    /*1ère image*/
  }
  5% {
    left: 0px;
    /*1ère image*/
  }
  15% {
    left: -14em;
    /*2ème image*/
  }
  30% {
    left: -14em;
    /*idem pour attente*/
  }
  45% {
    left: -28em;
    /*3ème image*/
  }
  60% {
    left: -28em;
    /*idem pour attente*/
  }
  75% {
    left: -14em;
    /*2ème image*/
  }
  90% {
    left: -14em;
    /*idem pour attente*/
  }
  100% {
    left: 0px;
    /*1ère image*/
  }
}
@-webkit-keyframes slide-auberge {
  0% {
    left: 0px;
    /*1ère image*/
  }
  15% {
    left: 0px;
    /*idem pour attente*/
  }
  35% {
    left: -25em;
    /*2ème image*/
  }
  50% {
    left: -25em;
    /*idem pour attente*/
  }
}
@keyframes slide-auberge {
  0% {
    left: 0px;
    /*1ère image*/
  }
  15% {
    left: 0px;
    /*idem pour attente*/
  }
  35% {
    left: -25em;
    /*2ème image*/
  }
  50% {
    left: -25em;
    /*idem pour attente*/
  }
}
@-webkit-keyframes pulsation {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 42, 42, 0.4);
    transform: scale(0.95);
  }
  50% {
    -webkit-box-shadow: 0 0 0 18px rgba(204, 169, 44, 0);
    transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    transform: scale(1);
  }
}
@keyframes pulsation {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 42, 42, 0.4);
    transform: scale(0.95);
  }
  50% {
    box-shadow: 0 0 0 18px rgba(204, 169, 44, 0);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    transform: scale(1);
  }
}
.restaurant__title {
  text-align: center;
}
.restaurant__long-section {
  margin: 4% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurant__long-section__description {
  font-size: 0.75em;
  text-align: center;
  color: #98000c;
}
.restaurant__long-section__image {
  width: 100%;
  height: 20em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0.5em;
  border-radius: 5px;
}
.restaurant__long-section__image--center {
  align-items: center;
}
.restaurant__long-section__image img {
  width: 100%;
  height: auto;
}
.restaurant__section {
  display: flex;
  align-items: center;
  margin: 4% 8%;
}
.restaurant__section__w50 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  overflow: hidden;
  border-radius: 5px;
}
.restaurant__section__w50--left {
  margin-right: 1em;
}
.restaurant__section__w50--right {
  margin-left: 1em;
}
.restaurant__section__w50__desc {
  font-size: 0.75em;
  line-height: 2em;
  color: #98000c;
}
.restaurant__section__w50 img {
  width: 100%;
  height: auto;
}
