.big-cards__card--auberges__content__container {
    position: relative;
    background-color: $red-secondary;
    width: 6em;
    height: 6em;
    padding: 0.25em;
    border-radius: 50%;
    cursor: context-menu;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s,
        border-radius 0.4s;
    margin: 0 1.5em;

    animation: pulsation 1s infinite;

    &:hover {
        animation: none;
    }

    &--right {
        margin-left: auto;
    }

    &:hover {
        width: 11em;
        height: 13em;
        border-radius: 4px;
    }

    &__image {
        width: 5em;
        height: 5em;
        min-height: 5em;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
        margin-top: 0.25em;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    &__title {
        font-size: 0.75em;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 1.5em;
        margin-bottom: 1em;
        color: $white-primary;
    }

    &__role, &__description {
        font-size: 0.5em;
        text-align: center;
        color: $white-primary;
    }

    &__role {
        text-transform: uppercase;
        padding-bottom: 0.5em;
        margin-bottom: 0.75em;
        border-bottom: 2px solid #ffbe44;
    }

    &__description {
        margin-top: 1em;
    } 

    &__social-container {
        position: absolute;
        top: 1em;
        left: -2em;
        display: flex;
        flex-direction: column;

        a {
            border: none;
            outline: none;
            color: $white-primary;
            background: none;
            width: 0.5em;
            height: 1em;
            font-size: 1em;
            margin-bottom: 0.5em;
            cursor: pointer;
            transition: transform 0.4s;

            &:hover {
                color: $black-primary;
            }
        }
    }

    &:hover &__social-container a {
        transform: translateX(2.75em);
        transition-delay: 0.3s;
    }

    &:hover &__social-container a:nth-child(2) {
        transition-delay: 0.5s;
    }

    &:hover &__social-container a:nth-child(3) {
        transition-delay: 0.7s;
    }
}