/*** RESET ***/
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
// img {
//     max-width: 100%;
//     height: auto;
// }
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(100vw / 60);
    background-color:#f2f2f2;
    margin: 0;
    padding: 0;
}

/*** Imports ***/

@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap'),
        './variables',
        '../../components/app',
        '../../components/Layouts/Navbar/navbar-app',
        '../../components/Layouts/Footer/footer-app',
        '../../components//Modals/Modal-mentions/modal-mentions',
        '../../views/home/home-app'